@model List<Group>
@{
    ViewData["Title"] = "index";
}

 
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Group Permissions</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <p class="card-text">DataTables has most features enabled by default, 
                            so all you need to do to use it with your own ables is to call the construction</p>
                          
                            <div class="row"><div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>Show 
                                    <select id="show" name="show" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                            <option value="0">All Groups</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="7">7</option>
                                            <option value="10">10</option>
                                    </select> 
                                </label>
                                        </div>
                                   </div>
                                      <div class="col-lg-1"></div> 
                                        <div class="col-sm-12 col-md-3"><div id="DataTables_Table_0_filter" class="dataTables_filter">
                                            <label>
                                                Search:<input type="text"  id="searchG" name="search" class="form-control form-control-sm" >
                                            </label>
                                            </div>
                                      </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                @if (ViewBag.groupId == null || ViewBag.groupId.Add)
                                {
                                    <button id="addRow" class="btn btn-primary mb-2"> 
                                        <i class="ft-plus"></i>&nbsp;
                                        <a asp-action="CreateGroup" asp-controller="Group">  Add new Group</a>
                                    </button>
                                }
                            </div>
                            </div> 


                        <div id="searchResult">

                         
                       
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script>

        $("#searchG").on("keyup",function(){
             let text=$("#searchG").val();
            $("#searchResult").load("groupSearch?search="+text)
        })
        $(function(){
            $("#searchResult").load("groupSearch")
        })

        $("#show").on("change",function(){
            $("#searchResult").load("groupSearch?show="+$("#show").val()+"&search="+$("#searchG").val())
        })
    
</script>
}
