@using HR_System.ViewModels 

@model  List<SalaryVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
        <div>
            <label>Employee Name</label>
            <input type="text" id="name" />
        </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Year</label>
                <select id="year" asp-items="ViewBag.years" class="form-control col-md-6"></select>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Month</label>
                <select id="month" asp-items="ViewBag.months" class="form-control col-md-6"></select>
            </div>
        </div>
        <div class="col-md-3">
            <a id="searchemp" class="btn btn-primary mb-2"> <i class="ft-search"></i>&nbsp; Search Employee</a>
        </div>
    </div>
</div>

<br />
<br />

<div id="rendersalary"></div>



@section scripts{
    <script>
        $(function(){
            $("#rendersalary").load("SalaryTable")
        })
        $("#searchemp").on("click",function(){
            $("#rendersalary").load("SalaryTable?selectedyear="+$("#year").val()+"&selectedmonth="+$("#month").val()+"&name="+$("#name").val())
        })
    </script>
}

